# Bibliotecas Principais de Ciência de Dados
pandas
numpy
scipy

# Scikit-learn e Dependências de Classificadores
scikit-learn
matplotlib
seaborn
xgboost

# Modelos Específicos e Ferramentas de Balanceamento
imbalanced-learn  # Para geometric_mean_score
sklearn-lvq       # Para GlvqModel
deslib            # Para OLA, LCA, KNORAU, KNORAE, etc.